@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1880px)
  .result:before
    width: 413px
    height: 474px

@media only screen and (max-width: 1200px)
  .container
    padding: 0 10px

  h1
    font-size: 50px
    max-width: 677px
    margin: 108px 0 0

  .stages-success__box-img
    width: 368px
    height: 231px

  .stages-success__box-text
    max-width: 350px
    .text
      font-size: 16px
      line-height: 1.31
      .number
        font-size: 190px
        bottom: -60px

  .stages-success h2
    font-size: 31px
    margin: 0 0 30px

  .stages-success__box-text .img-arrow
    width: 81px
    margin: -22px 20px 0 auto

  .stages-success__two .img-arrow
    margin: 10px auto -30px 130px

  .stages-success__two
    padding: 18px 0 0

  .stages-success__three .img-arrow
    margin: 40px 0 -40px auto

  .list-decor
    font-size: 16.5px
    li
      padding: 0 0 0 52px
      width: 50%
      p
        max-width: 310px

  .list-decor li:before
    width: 36px
    height: 34px

  .list-decor li:nth-child(3)
    margin: -41px 0 22px

  .description-academy__image
    width: 370px
    height: 252px

  .description-academy__text
    margin: 0 0 40px
    font-size: 14px
    max-width: 335px

  .list-check li
    padding: 0 0 0 26px
    &:before
      width: 16px
      height: 15px

  .advantages-academy__box
    max-width: 140px
    font-size: 12px
    h3
      font-size: 16.5px

  .advantages-academy__box-img
    height: 108px
    margin: 0 0 18px

  .about-academy .btn-reservation
    margin: 29px auto 0
    width: 236px
    height: 50px
    font-size: 12px
    padding: 0

  .description-academy
    margin: 30px 0 0 0

  .result
    padding: 53px 0 57px
    &:before
      top: 100px

  .list-number
    font-size: 16px
    line-height: 2.16
    &:before
      left: 13px
    .number
      margin: 0 16px 0 0
      width: 26px
      min-width: 26px
      height: 26px
      font-size: 15px

  .certificate-box
    width: 236px
    height: 332px

  .certificate
    padding: 55px 0 61px
    h2
      margin: 0 auto 50px

  .certificate-content
    margin: 0 0 58px

  .certificate:after, .certificate:before
    width: 200px
    height: 400px

  .slick-next, .slick-prev
    width: 13px
    height: 24px

  .children-are-busy
    padding: 42px 0 52px
    h2
      margin: 0 auto 23px

  .children-are-busy .btn-reservation
    margin: 31px auto 0
    width: 236px
    height: 50px
    padding: 0
    font-size: 12px

  .children-are-busy__text
    font-size: 16px
    max-width: calc(100% - 400px)
    line-height: 1.38

  .children-are-busy__image
    width: 369px
    height: 245px

  .good-summer__image
    width: 368px
    height: 235px
    margin: 0 0 22px

  .good-summer__text
    max-width: calc(100% - 400px)
    font-size: 16px
    margin: 0 0 22px

  .cost-composition
    h2
      margin: 0 auto 47px

  .cost-composition__box
    padding: 0 18px 10px 20px
    width: 48%
    min-height: 256px
    font-size: 13px
    margin: 0 0 34px
    h3
      font-size: 16px
    ul
      font-size: 13px
      line-height: 1.38

  .cost-composition__box-icon
    width: 79px
    height: 78px
    margin: -30px auto 5px
    &:before
      width: 55px
      height: 53px
    img
      max-width: 25px

  .book-now
    padding: 55px 0 60px
    h3
      font-size: 24px
      margin: 0 0 35px

  .book-now__content
    max-width: 328px

  .form
    label
      margin: 0 0 20px
      input
        font-size: 16px
        padding: 0 0 7px

  .checkbox .label
    font-size: 9.5px
    margin: 0 0 0 8px

  .checkbox-custom
    width: 19px
    height: 19px

  .checkbox .checkbox-inp:checked + .checkbox-custom::before
    width: 16px
    height: 15px

  .sale-wrapper h4
    font-size: 16.5px

  .sale-wrapper .btn
    width: 236px
    height: 50px
    font-size: 12px
    padding: 0

  .putMessage
    margin: 23px 0 29px

  .description-timer
    font-size: 16.5px
    margin: 8px 0 0 0

  .countdownHolder .position
    font-size: 48.5px
    width: 56px
    height: 66px

  .question
    padding: 47px 0 53px

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  .logo
    width: 196px

  .btn
    font-size: 16px

  .phone
    font-size: 18px
    padding: 0 0 0 26px

    &:before
      width: 20px
      height: 22px

  header
    padding: 7px 0 8px
    .btn
      padding: 0
      width: 237px
      height: 50px

  main .description
    font-size: 24px
    max-width: 500px
    margin: 20px 0 33px

  main .btn
    width: 266px
    height: 58px
    padding: 0
    font-size: 18px

  .sale
    margin: 12px 0 0
    font-size: 16px

  .date
    margin: 28px 0 38px
    font-size: 79px
    //line-height: 1.5
    letter-spacing: -3.98px

  .about
    padding: 55px 0 14px

  h2
    font-size: 36px
    margin: 0 auto 40px

  .description
    font-size: 18px
    line-height: 1.67

  .about-content
    margin: 80px 0 0

  .about-box
    font-size: 16.5px
    line-height: 1.21
    margin: 0 0 46px
    .icon
      width: 135px
      height: 128px
      &:before
        width: 252px
        height: 235px

  .line
    width: 304px

  .result:before
    display: none

@media only screen and (max-width: 840px)
  .film-festival
    padding: 56px 0 130px
    h2
      margin: 0 auto 52px

  .film-festival .description
    font-size: 16px
    font-weight: bold
    max-width: 350px
    margin: 0 auto 66px

  .film-festival .btn-accent
    width: 296px
    height: 54px
    font-size: 12px

  .way-success
    padding: 44px 0 49px
    h2
      margin: 0 auto 24px
    .description
      font-size: 16px
      max-width: 580px

  .way-success__content
    margin: 16px 0 0 0

  .way-success__box .number
    min-width: 76px
    width: 76px
    height: 72px
    margin: 0 15px 0 0
    span
      font-size: 30px
      &:before
        width: 38px
        height: 34px
        bottom: -5px

  .way-success__box p
    font-size: 16.5px
    max-width: 265px
    br
      display: none

  .way-success__image
    width: 241px

  .star-counselors
    padding: 43px 0 39px
    .description
      font-size: 16px
      max-width: 560px

  .stars-movie
    font-size: 16px

  .star-counselors h2
    margin: 0 auto 23px

  .star-counselors__content
    margin: 44px 0 0

  .star-counselors__box
    max-width: 143px
    .photo
      width: 100%
      height: 143px
      margin: 0 auto 19px
    h3
      font-size: 16px
    p
      margin: 13px auto 0
      font-size: 12px

  .direction
    padding: 44px 0 0
    h2
      margin: 0 auto 43px

  .direction-box
    font-size: 16.5px
    margin: 0 0 23px
    .icon
      width: 140px
      height: 133px
      img
        max-width: 40px
    p
      max-width: 150px

  .stars-max
    width: 229px
    height: 212px
    font-size: 16.5px
    margin: 0 auto -100px
    &:before
      width: 552px

  .about-academy
    padding: 57px 0 66px

  .about-academy h2
    margin: 0 auto 25px

  .about-academy__content
    margin: 54px 0 0

  .about-academy__box
    max-width: 33%
    font-size: 14px
    margin: 0 0 25px
    p
      max-width: 180px
    .image
      margin: 0 auto 20px
      width: 143px
      height: 143px

  footer
    padding: 35px 0 34px

  .good-summer
    padding: 43px 0 50px
    h2
      margin: 0 auto 20px

  .cost-composition
    padding: 54px 0 30px

  .maps-content
    height: 285px

  .button-wrapper
    margin: 27px 0 50px
    .btn
      width: 216px
      height: 44px
      font-size: 16px

  .answer
    font-size: 16px

  .question-box__item
    font-size: 16px
    padding: 0 17px 0 0
    &:before
      width: 17px
      height: 10px

  .question-box
    padding: 20px 21px 24px 31px
    margin: 0 0 12px

  .question
    h2
      margin: 0 auto 21px

  .modal__div
    width: 354px
    .modal__wrapper
      padding: 44px 25px 57px
      h3
        margin: 0 0 50px

  .modal__div form label input
    font-size: 15px
    padding: 0 10px 10px

  .modal__div form label
    margin: 0 0 30px

  .modal__div button
    margin: 33px auto 0
    font-size: 15.5px
    width: 249px
    height: 51px
    padding: 0

  .modal__div form .checkbox .checkbox-custom
    width: 24px
    height: 24px

  .modal__div form .checkbox .label
    font-size: 10px

/* Small Devices, Tablets */
@media only screen and (max-width: 740px)
  .stages-success .container
    flex-direction: column
    align-items: flex-start
    position: relative
    .img-arrow
      width: 72px
      height: 109px

  .stages-success__one
    .img-arrow
      position: absolute
      transform: scale(-1,1)
      right: 20px
      bottom: -125px
      margin: 0


  .stages-success__box-text
    order: -1
    max-width: none

  .stages-success__box-img
    max-width: none
    margin: 15px auto 0
    border-width: 2px

  .stages-success__two .img-arrow
    position: absolute
    right: 0
    top: 0

  .stages-success h2
    br
      display: none

  .stages-success__three
    .container
      .img-arrow
        position: absolute
        left: 55px
        bottom: -100px
        width: 54px
        height: 84px
        margin: 0

  .stages-success__three
    padding: 53px 0 42px
    .stages-success__box-img
      margin: 60px auto 0

  .stages-success__two
    .container
      .img-arrow
        position: absolute
        right: 20px
        bottom: -125px
        margin: 0
        top: auto

  .description-academy
    flex-direction: column
    align-items: center

  .description-academy__image
    order: -1
    margin: 0 auto 15px
    height: 224px

  .description-academy__text
    max-width: none
    font-size: 14px

  .list-check
    margin: 25px 0 0
    li
      margin: 0 0 10px

  .book-now
    padding: 31px 0 49px
    .container
      .form
        flex-direction: column
        align-items: center

  .book-now__content
    max-width: none
    margin: 0 0 60px

  .certificate
    padding: 43px 0 42px
    h2
      margin: 0 auto 23px

  .certificate:after, .certificate:before
    display: none

  .certificate-content
    margin: 0 0 34px

  .slick-prev
    left: 10px

  .slick-next
    right: 10px



@media only screen and (max-width: 700px)
  header .btn
    display: none

  header
    padding: 13px 0

  .container
    padding: 0 14px

  .logo
    width: 136px

  .phone
    font-size: 15px
    padding: 0 0 0 24px
    &:before
      width: 16px
      height: 18px

  h1
    margin: 96px 0 0
    text-align: center
    font-size: 36px

  main .description
    margin: 17px 0 31px
    font-size: 16px
    text-align: center

  main .btn
    font-size: 18px
    width: 266px
    height: 58px
    margin: 0 auto

  .sale
    text-align: center
    margin: 13px auto 0
    font-size: 12px

  .date
    margin: 31px auto 37px
    font-size: 60px
    letter-spacing: -3.03px
    text-align: center

  main .container:before
    width: 282px
    height: 5px

  .children-are-busy
    padding: 34px 0 53px
    h2
      margin: 0 auto 26px

  .children-are-busy__content
    flex-direction: column
    align-items: center

  .children-are-busy__text
    max-width: none
    font-size: 13.5px
    margin: 0 0 20px
    p
      margin: 0 0 15px

  .children-are-busy__image
    height: 213px
    width: 100%
    max-width: 319px

  .children-are-busy .btn-reservation
    font-size: 12px
    margin: 26px auto 0
    width: 236px
    height: 50px

  .good-summer
    padding: 46px 0 71px
    h2
      margin: 0 auto 20px

  .good-summer__image
    margin: 0 auto 28px
    width: 100%
    max-width: 323px
    height: 236px
    &:last-child
      margin: 0 auto

  .good-summer__content
    flex-direction: column
    align-items: center

  .good-summer__text
    max-width: none
    font-size: 13.5px

  .good-summer__text-one
    order: -1

  .btn-burger
    display: flex



/* Extra Small Devices, Phones */
@media only screen and (max-width: 640px)
  footer
    .btn
      width: 237px
      font-size: 16px
      height: 50px
      padding: 0


@media only screen and (max-width: 610px)
  .star-counselors .description
    font-size: 13.5px
    margin: 0 auto 13px

  .stars-movie
    font-size: 14px

  .star-counselors__content
    flex-direction: column
    align-items: center
    margin: 25px 0 0

  .star-counselors__box
    max-width: 160px
    margin: 0 0 36px
    position: relative
    &:before, &:after
      content: ''
      position: absolute
      top: 32%
      transform: translate(0,-50%)
      width: 85px
      height: 182px
    &:before
      background: url("../img/star-max1.png") no-repeat center
        size: contain
      left: -85px
    &:after
      background: url("../img/star-max2.png") no-repeat center
        size: contain
      right: -85px
    h3
      font-size: 13.5px
    .photo
      height: 160px
      margin: 0 auto 13px
    p
      font-size: 12px
      margin: 5px auto 0

  .about-academy
    padding: 43px 0 41px
    h2
      margin: 0 auto 40px

  .list-decor li
    width: 100%
    margin: 0 0 30px
    font-size: 14px
    p
      max-width: none

  .list-decor li:nth-child(3), .list-decor li:nth-last-child(2), .list-decor li:last-child
    margin: 0 0 30px

  .about-academy__content
    margin: 30px 0 0

  .about-academy__box
    margin: 0 0 25px
    max-width: 50%
    .image
      margin: 0 auto 9px

  .description-academy
    margin: 20px 0 0

  .about-academy .btn-reservation
    margin: 29px auto 0
    font-size: 12px
    width: 236px
    height: 50px

  .advantages-academy__box
    max-width: 48%
    margin: 0 0 13px

  .advantages-academy__box-title
    line-height: normal


  .cost-composition
    padding: 42px 0 36px

  .cost-composition__box
    width: 100%
    min-height: auto
    padding: 0 9px 39px 20px
    margin: 0 0 39px
    &:last-child
      margin: 0

  .cost-composition h2
    margin: 0 0 69px

  footer
    padding: 30px 0 106px
    .container
      flex-direction: column
      align-items: flex-start
      .logo
        width: 158px
      .phone
        margin: 45px auto
        font-size: 22px
      .btn
        margin: 0 auto

@media only screen and (max-width: 540px)
  .question
    padding: 52px 0 42px
    h2
      margin: 0 auto 21px

  .question-box
    padding: 21px 13px 24px 14px
    margin: 0 0 10px

  .answer
    font-size: 14.5px

  .button-wrapper
    margin: 21px 0 18px
    .btn
      width: 137px
      height: 28px
      font-size: 10px
    .btn-red
      margin: 0 0 0 14px

  .maps-content
    height: 231px

@media only screen and (max-width: 480px)
  main
    background: url("../img/bg1-mobile.jpg") no-repeat center top
      size: cover

  .about
    padding: 33px 0 24px

  h2
    font-size: 22px
    margin: 0 auto 21px

  .description
    font-size: 14px

  .about-content
    margin: 50px 0 0

  .about-box
    width: 50%
    font-size: 11px
    margin: 0 0 22px
    p
      max-width: 140px
    .icon
      margin: 0 auto 15px
      width: 97px
      height: 92px
      &:before
        width: 172px
        height: 163px

  .line
    width: 304px

  .stages-success h2
    font-size: 22px
    margin: 0 0 21px

  .stages-success__box-text .text
    font-size: 13.5px
    padding: 0 75px 0 0
    .number
      bottom: -50px

  .stages-success__box-img
    width: 100%
    height: 202px
    img
      width: 100%
      height: 100%
      object-fit: cover

  .stages-success__two
    padding: 41px 0 0

  .stages-success__one, .stages-success__two
    .container
      .img-arrow
        bottom: -145px

  .film-festival
    padding: 40px 0 27px

  .film-festival .description
    font-size: 13.5px
    margin: 0 auto 16px

  .film-festival h2
    margin: 0 auto 23px

  .film-festival .btn-accent
    width: 260px
    height: 48px
    font-size: 11px

  .way-success__image
    display: none

  .way-success
    padding: 36px 0 50px
    h2
      margin: 0 auto 18px
    .description
      font-size: 14px

  .way-success__content
    margin: 40px 0 0

  .way-success__box p
    font-size: 14px

  .star-counselors
    padding: 41px 0 38px

  .direction
    padding: 38px 0 0
    h2
      margin: 0 auto 30px

  .direction-content
    flex-direction: column
    align-items: center

  .direction-box
    font-size: 16.5px
    margin: 0 0 31px
    .icon
      width: 111px
      height: 105px
      margin: 0 auto 9px

  .stars-max
    width: 229px
    height: 222px
    margin: 0 auto -100px
    font-size: 16.5px
    &:before
      display: none

  .direction
    background: url("../img/bg5-mobile.jpg") no-repeat center
      size: cover

  .result
    padding: 41px 0 40px
    h2
      margin: 0 auto 31px

  .list-number
    font-size: 12px
    line-height: 1.5
    li
      margin: 0 0 10px
      .number
        font-size: 14.5px

  .sale-wrapper h4
    font-size: 14px

  .putMessage
    margin: 19px 0 56px

  .countdownHolder .position
    font-size: 40px
    width: 49px
    height: 58px

  .countMinutes
    margin: 0 16px

  .description-timer
    font-size: 14px
    margin: 6px 0 0 0

  .sale-wrapper .btn
    width: 236px
    height: 50px
    font-size: 12px

/* Custom, iPhone Retina */
@media only screen and (max-width: 400px)
  .description-academy__image
    width: 100%

  .btn-burger
    width: 30px
    span
      height: 2px
      &:nth-child(2)
        width: 25px
      &:last-child
        width: 20px

  .phone
    font-size: 13px

  .logo
    width: 100px

@media only screen and (max-width: 345px)
  .button-wrapper
    flex-direction: column
    align-items: flex-start
    .btn-red
      margin: 10px 0 0

  .modal__div
    width: 100%

  #modal-thanks .modal__wrapper p
    font-size: 16px

  .modal__div .modal__wrapper .color-gradient
    margin: 0 auto 30px

@media only screen and (max-width: 330px)
  .logo
    width: 110px

  .date
    font-size: 40px

